{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="row">
    <div style="background-color: rgb(4, 4, 47); color: white;" class="col-sm-12">
        <h1 style="text-align: center; color: white;" class="my-5">Register Page</h1>
        <p style="text-align: center; color: white;">Please fill in the details below to create an account.</p>
    </div>   
</div>
<div class="row bg-secondary">
    <div class="col-sm-8 mt-2 mb-2 mx-auto  ">
        <div class="card p-1 bg-DANGER ">
<h2 class="my-5" style="text-align: center;">Register Here</h2>
 {% if messages %}
            {% for m in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{m}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor%}
            {% endif%}
<form method="post" class="form-group">
    {% csrf_token %}
    <table class="table table-bordered" style="width:50%;margin: auto;">
        <tr>
            <td> Enter Name</td>
            <td>
                <input type="text" name="name" class="form-control" required />
            </td>
        </tr>
        <tr>
            <td>Select Gender</td>
            <td>
                <input type="radio" name="gender" class="form-check-input" value="male" />Male
                <input type="radio" name="gender" class="form-check-input" value="female" />Female

            </td>
        </tr>
        <tr>
            <td>Enter Contact No.</td>
            <td>
                <input type="number" name="contactno" class="form-control" required/>
            </td>
        </tr>
        <tr>
            <td>Enter Email Address</td>
            <td>
                <input type="email" name="emailaddress" class="form-control" required/>
            </td>
        </tr>
        <tr>
            <td>Enter Qualificaation</td>
            <td>
                <input type="text" name="qualification" class="form-control" required/>
            </td>
        </tr>
        <tr>
            <td>Enter Experience</td>
            <td>
                <input type="text" name="experience" class="form-control" required/>
            </td>
        </tr>
        <tr>
            <td>Enter Key Skills</td>
            <td>
            <textarea name="keyskill" class="form-control" required></textarea>
            </td>
        </tr>
        <tr>
            <td>Enter Address</td>
            <td>
                <textarea name="address" class="form-control" required></textarea>
            </td>
        </tr>
        <tr>
            <td>Enter Password</td>
            <td>
                <input type="password" name="password" class="form-control" required/>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" class="btn btn-success">register</button>
            </td>
        </tr>

    </table>
</form>
</div>
</div>
</div>
{% endblock %}